<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragment/header :: head"></head>
<body>
<div class="container">
    <header th:replace="fragment/header :: header"></header>
    <main>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}"> ID </span></td>
                <td><span th:text="${user.firstName}"> firstName </span></td>
                <td><span th:text="${user.lastName}"> lastName </span></td>
                <td><span th:text="${user.username}"> lastName </span></td>
                <td><a th:href="@{/admin/edit(id=${user.id})}"> Edit </a></td>
                <td><a th:href="@{/admin/delete(id=${user.id})}"> Delete </a></td>
            </tr>
            </tbody>
        </table>

        <form class="row align-items-center" method="post" th:action="@{/admin/create}"
              th:object="${user}">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">First Name</div>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                           placeholder="First Name">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">Last Name</div>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                           placeholder="Last Name">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">Username</div>
                    <input type="text" class="form-control" id="username" th:field="*{username}"
                           placeholder="Username">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">Password</div>
                    <input type="password" class="form-control" id="password" th:field="*{password}"
                           placeholder="Password">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Create User</button>
            </div>

        </form>


    </main>
</div>
<div th:replace="fragment/footer :: footer">...</div>
</body>
</html>